.notes {
    margin-top: 10px;
    &__col {
        min-height: 300px;
        border-right: 2px solid #F9F8F7;
        display: flex;
        flex-flow: column;
        gap: 5px;
        &--left {
            border-left: 2px solid #F9F8F7;
        }
    }
    &__note {
        position: relative;
        padding: 10px;
        display: flex;
        flex-flow: column;
        gap: 5px;
        width: 100%;
        min-height: 100px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        &--selected {
            opacity: 0.6;
        }
        &--found {
            box-shadow: 0px 0px 18px 0px rgba(255, 107, 50, 1);
        }
        &--not-found {
            opacity: 0.5;
        }
    }
    &__note-title {
        padding: 5px;
    }
    &__note-descr {
        padding: 5px;
    }
    &__note-close {
        cursor: pointer;
    }
    &__close-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    &__edit-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}